﻿@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="row m-5">
        Chez DLD nous pensons qu'il est important d'eviter le gaspillage. C'est pour cela que notre association met en relation des donateurs et des receveurs afin d'éviter le gaspillage inutile !
    </div>
    <div class="row m-5 ">
        Devenir membre de l'association DLD c'est la garantie d'avoir des produits frais/consommables à prix imbattable mais surtout d'avoir une démarche de consommation écologique !
    </div>
</div>