﻿<!DOCTYPE html>
<html>
@using Fr.EQL.AI110.DLD_GA.Entities;
@model StorageLocation

@{
    List<StorageLocation> sls = ViewBag.ListeSls;
}
<link href="@Href("~/css/DonationCreateView.css")" rel="StyleSheet" type="text/css" />

<h3 class="mb-3">Supprimer un lieu de stockage</h3>

<form method="post">
    <li class="nav-item row  mt-3">
        <div class="col-3"><label asp-for="StorLocationId"> Nom du Lieu :</label>  </div>
        <div class="col-4">
            <select class="form-select" asp-for="StorLocationId">
                <option value="0">...</option>
                    @foreach (StorageLocation sl in sls)
                    {
                        <option value="@sl.StorLocationId">@sl.Name</option>
                    }
            </select>
        </div>
    </li>   <br />
    <div class="row">
        <div class="col-7">
            <input type="submit" value="Supprimer" class="btn btn-outline-dark mt-3 " style="float:right;" />
        </div>
    </div>

</form>

</html>

