﻿<!DOCTYPE html>
<html>
@using Fr.EQL.AI110.DLD_GA.Entities;
@using Fr.EQL.AI110.DLD_GA.WebApp.Models
@model StorageLocationViewModel

<link href="@Href("~/css/DonationCreateView.css")" rel="StyleSheet" type="text/css" />

<div class="row">
    <div class="col-4"><h4>Liste des lieux de stockage :</h4> </div>
    <div class="col-8 align-content-end" style="text-align: right;">
        <a asp-controller="StorageLocation"
           asp-action="Create" class="btn btn-outline-success">
            <i class="fas fa-plus"></i>&nbsp;Nouveau
        </a>
    </div>

</div>

<div class="row mt-3">
    <div class="col">
        <table center class="table table-striped">
            <tr>
                <th>Partenaire</th>
                <th>Ville</th>
                <th>Adresse</th>
                <th>Nom du stockage</th>
                <th>Téléphone</th>
              @*  <th>Photo</th>*@
            </tr>

            @foreach (StorageLocationDetails sl in Model.Details)
            {
                <tr>
                    <td>@sl.PartnerName </td>
                    <td>@sl.CityName</td>
                    <td>@sl.StreetNameAndNumber</td>
                    <td>@sl.Name</td>
                    <td>@sl.PhoneNumber</td>
                    @*<td>@sl.Picture</td>*@
                </tr>
            }

        </table>
    </div>
</div>
<div class="row mt-3">
    <div class="col" style="text-align: right;">
        <a asp-controller="StorageLocation"
           asp-action="Update" class="btn btn-outline-warning me-2">
            <i class="fas fa-edit"></i>&nbsp;
            Modifier
        </a>

        <a asp-controller="StorageLocation"
           asp-action="Delete" class="btn btn-outline-danger">
            <i class="fas fa-trash"></i>&nbsp;
            Supprimer
        </a>
    </div>

</div>

</html>

