﻿<!DOCTYPE html>
<html>
@using Fr.EQL.AI110.DLD_GA.Entities;
@using Fr.EQL.AI110.DLD_GA.WebApp.Models;
@model List<Fr.EQL.AI110.DLD_GA.Entities.StorageLocation>
<link href="@Href("~/css/DonationCreateView.css")" rel="StyleSheet" type="text/css" />

  <h3>Liste des lieux de stockage :</h3>
  <table>
      <tr>
          <th>Partenaire</th>
          <th>Ville de stockage</th>
          <th>Nom du stockage</th>
          <th>Tel</th>
          <th>Picture</th>
          <th>Adresse</th>
      </tr>
      <h4>
          <a href="/storageLocation/Create">
          <button>Nouveau</button>
          </a>
      </h4>
  @foreach(StorageLocation sl in Model)
    {
        <tr>
            <td>@sl.PartnerId</td>
            <td>@sl.CityAndZipCodeId</td>
            <td>@sl.Name</td>
            <td>@sl.PhoneNumber</td>
            <td>@sl.Picture</td>
            <td>@sl.StreetNameAndNumber</td>            
        </tr>
    }
  </table>

</html>

