﻿<!DOCTYPE html>
<html>
@using Fr.EQL.AI110.DLD_GA.Entities;
@model StorageLocation

@{
    List<Partner> partners = ViewBag.ListePartners;
    List<CityAndZipCode> cities = ViewBag.ListeCities;
    List<StorageLocation> sls = ViewBag.ListeSls;

}
<link href="@Href("~/css/DonationCreateView.css")" rel="StyleSheet" type="text/css" />


<h3>Modifier un lieu de stockage</h3>

<form method="post">
    <ul>
        <li class="nav-item row">
            <div class="col-2">
                <label class="form-label" asp-for="StorLocationId"> Nom du Lieu :</label>
            </div><div class="col-3">
            <select class="form-select" asp-for="StorLocationId">
                <option value="0">...</option>
                @foreach (StorageLocation sl in sls)
                {
                    <option value="@sl.StorLocationId">@sl.Name</option>
                }
            </select>
            </div>
        </li>
          <br />
        <li class="nav-item row">
            <div class="col-2">
                <label class="form-label" asp-for="PartnerId"> Partenaire :</label>
            </div><div class="col-3">
                <select class="form-select" asp-for="PartnerId">
                    <option value="0">...</option>
                    @foreach (Partner partner in partners)
                    {
                        <option value="@partner.PartnerId">@partner.Appellation</option>
                    }
                </select>
            </div><div class="col-2">

                <label class="form-label" asp-for="CityAndZipCodeId"> Ville :</label>
            </div><div class="col-3">
                <select class="form-select" asp-for="CityAndZipCodeId">
                    <option value="0">...</option>
                    @foreach (CityAndZipCode cazc in cities)
                    {
                        <option value="@cazc.CityId">@cazc.City</option>
                    }
                </select>
            </div>
        </li>
        <br />
        <li class="nav-item row">
            <div class="col-2">
                <label class="form-label" asp-for="StreetNameAndNumber"> Addresse complet :</label>
            </div><div class="col-3">  <input class="form-control" asp-for="StreetNameAndNumber" /> </div>
        </li>
        <br />
        <li class="nav-item row">
            <div class="col-2">
                <label class="form-label" asp-for="Name"> Nom :</label>
            </div><div class="col-3"> <input class="form-control" asp-for="Name" /> </div>
        </li>
        <br />
        <li class="nav-item row">
            <div class="col-2">
                <label class="form-label" asp-for="PhoneNumber"> Tel :</label>
            </div><div class="col-3"> <input class="form-control" asp-for="PhoneNumber"> </div>
        </li>
        <br />
        <li class="nav-item row">
            <div class="col-2">
                <label class="form-label" asp-for="Picture"> Photo :</label>
            </div><div class="col-3">  <input class="form-control" asp-for="Picture" /> </div>
        </li>
        <br />
        <div class="row">
            <div class="col-10">
                <input type="submit" value="Modifier" class="btn btn-outline-dark mt-3 " style="float:right;" />
            </div>
        </div>
    </ul>
</form>

</html>

