﻿@*######Openong Hours Locations#######*@

@using Fr.EQL.AI110.DLD_GA.Entities;
@using Fr.EQL.AI110.DLD_GA.WebApp.Models;
@model OpeningHours
@{
    List<Weekday> wDays = ViewBag.ListeWeekdays;
    List<StorageLocation> sls = ViewBag.ListeStorageLocations;
    List<Storage> storages = ViewBag.ListeStorages;
    Weekday wday = new Weekday();
}
<link href="@Href("~/css/DonationCreateView.css")" rel="StyleSheet" type="text/css" />

<h3 class="mb-3">Ajouter une horaire d'ouverture d'un lieu de stockage</h3>

<form method="post">

    <ul>
        <li class="nav-item row">
            <div class="col-2">
                <label class="form-label" asp-for="StorLocationId"> Lieu de Stockage :</label>
            </div><div class="col-2">
                <select class="form-select" asp-for="StorLocationId">
                    <option value="0">...</option>
                    @foreach (StorageLocation sl in sls)
                    {
                                    <option value="@sl.StorLocationId">@sl.Name</option>
                    }
                </select>
            </div><div class="col-2">
                <label class="form-label" asp-for="StorId"> Nom d'emplacement :</label>
            </div><div class="col-2">
                <select class="form-select" asp-for="StorId">
                    <option value="0">...</option>
                    @foreach (Storage st in storages)
                    {
                                    <option value="@st.StorId">@st.Name</option>
                    }
                </select>
            </div><div class="col-2">
                <label class="form-label" asp-for="WeekdayId"> Jour ouverture :</label>
            </div><div class="col-2">
                <select class="form-select" asp-for="WeekdayId">
                    <option value="0">...</option>
                    @foreach (Weekday day in wDays)
                    {
                                    <option value="@day.Id">@day.Name</option>
                    }
                </select>
            </div>
        </li>
        <br />
        <li class="nav-item row">
            <div class="col-2">
                <label class="form-label" asp-for="OpeningHour"> Heure ouverture :</label>
            </div><div class="col-2">
                <input class="form-control" asp-for="OpeningHour" />
            </div><div class="col-2">
                <label class="form-label" asp-for="OpeningMinute"> Min. :</label>
            </div><div class="col-2">
                <input class="form-control" asp-for="OpeningMinute" />
            </div>
        </li>
        <br />
        <li class="nav-item row">
            <div class="col-2">
                <label class="form-label" asp-for="ClosingHour"> Heure fermeture :</label>
            </div><div class="col-2">
                <input class="form-control" asp-for="ClosingHour" />
            </div><div class="col-2">
                <label class="form-label" asp-for="ClosingMinute"> Min. :</label>
            </div><div class="col-2">
                <input class="form-control" asp-for="ClosingMinute" />
            </div>
        </li>
        <br />
        <li class="nav-item row">
            <div class="col-2">
                <label class="form-label" asp-for="BreakStartHour"> Heure début coupure :</label>
            </div><div class="col-2">
                <input class="form-control" asp-for="BreakStartHour">
            </div><div class="col-2">
                <label class="form-label" asp-for="BreakStartMinute"> Min. :</label>
            </div><div class="col-2">
                <input class="form-control" asp-for="BreakStartMinute">
            </div>
        </li>
        <br />
        <li class="nav-item row">
            <div class="col-2">
                <label class="form-label" asp-for="BreakEndHour"> Heure fin coupure :</label>
            </div><div class="col-2">
                <input class="form-control" asp-for="BreakEndHour" />
            </div><div class="col-2">
                <label class="form-label" asp-for="BreakEndMinute"> Min. :</label>
            </div><div class="col-2">
                <input class="form-control" asp-for="BreakEndMinute" />
            </div>
        </li>
        <br />
              <div class="row">
            <div class="col-12">
                <input type="submit" value="Enregistrer" class="btn btn-outline-dark mt-3 " style="float:right;" />
            </div>
        </div>
    </ul>
</form>
