﻿@{
    string ErrorMessage = "";

    if (TempData.ContainsKey("ErrorMessage"))
    {
        ErrorMessage = (string)TempData["ErrorMessage"];
    }
}

<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8314201c6e.js" crossorigin="anonymous"></script>
    <style type="text/css">
        .adherent a.dropdown-toggle {
            color: #198754 !important;
            border-color: #198754;
        }

        .partenaire a.dropdown-toggle {
            color: #dc3545 !important;
            border-color: #dc3545;
        }

        .administrateur a.dropdown-toggle {
            color: #ffc107 !important;
            border-color: #ffc107;
        }

        .comment-fonctionne a {
            color: chocolate !important;
        }

        .errorMessage {
             color:red;
             font-size:1.2em;
             border:red solid 2px;
             border-radius:10px; 
             padding:0.1em;
        }
        
    </style>
    <meta charset="utf-8">

    <title>Home</title>

</head>

<body>


      <header>
        <nav class="navbar navbar-expand-md  navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="~/">
                    <img src="~/images/logo_dld.png" alt="" width="56">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item dropdown adherent p-2">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-apple-alt"></i> Fonctions adhérent
                            </a>
                            <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Donation" asp-action="Create">
                                        Proposer un
                                        don
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Donation" asp-action="Search">
                                        Consulter les dons
                                        proposés
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Donation" asp-action="Booked">Consulter les dons réservés</a>
                                </li>
                                @*               <li>
                                    <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Se mettre en absent</a></li>*@
                                    <li>
                                    <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="CreditPurchase" asp-action="Index">Afficher les achats de crédits</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown partenaire p-2">
                            <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fas fa-carrot"></i>
                                Fonctions partenaire
                            </a>
                            <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton2">
                               @* <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="StorageLocation" asp-action="Create">Ajouter un lieu de stockage</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>*@
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="StorageLocation" asp-action="Edit">
                                        Consulter la liste des lieux de
                                        stockage
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="OpeningDaysAndHours" asp-action="Create">
                                        Ajouter un horaire à un lieu de
                                        stockage
                                    </a>
                                </li>
                                @*<li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Storage" asp-action="Create">
                                        Ajouter un emplacement de
                                        stockage
                                    </a>
                                </li>*@
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Storage" asp-action="Edit">
                                        Consulter la liste des emplacements de
                                        stockage
                                    </a>
                                </li>
                            </ul>

                        </li>
                       @* <li class="nav-item dropdown administrateur p-2">
                            <a href="" class="nav-link dropdown-toggle " data-bs-toggle="dropdown">
                                <i class="fas fa-lemon"></i>
                                Fonctions administrateur
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">
                                        Valider l'inscription d'un
                                        partenraire
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Suivre les signalements</a>
                                </li>
                            </ul>

                        </li>*@

                        <li class="comment-fonctionne nav-item p-2">
                            <a href="" class="nav-link"><i class="fas fa-leaf"></i> Comment cela fonctionne ?</a>
                        </li>

                    </ul>
                </div>




            </div>
        </nav>
        
        <img style="max-width:100vw;"src="~/images/bandeau.png">
        @if (ErrorMessage != "")
        {
                <div>
                    <p style="padding:0.1em;margin:1em;"><span class="errorMessage"> @ErrorMessage </span></p>
                </div>

        }
    </header>


    <div class="container">

        <main role="main" class="pb-5 mb-5 mt-3">
            <div class="row">
                <div class="col">
                    @RenderBody()
                </div>
            </div>
        </main>

    </div>

    <footer class="">
        <nav class="navbar fixed-bottom navbar-expand-l  navbar-dark bg-dark">
            <div class="container-fluid">
                <ul class="nav  mx-auto">
                    <li class="nav-item"><a href="#" class="nav-link  text-light">Mentions légales</a></li>
                    <li class="nav-item"><a href="#" class="nav-link  text-light">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-light ">Qui sommes-nous ?</a></li>

                </ul>
                <span class="navbar-text text-light">
                    &copy; 2021 DLD
                </span>
            </div>
        </nav>

    </footer>

</body>

</html>