﻿<!DOCTYPE html>
<html>
@using Fr.EQL.AI110.DLD_GA.Entities
@model List<CreditPurchaseDetails>


    <div class="row">
    <div class="col-4">  <h4>Liste des achats de crédits :</h4> </div>
    <div class="col-8 align-content-end" style="text-align: right;">
        @*<a asp-controller="Storage"
           asp-action="Create" class="btn btn-outline-success">
            <i class="fas fa-plus"></i>&nbsp;Nouveau
        </a>*@
    </div>

</div>
<div class="row mt-3">
    <div class="col">
        <table center class="table table-striped">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Forfait</th>
                <th>Nombre de forfaits</th>
                <th>Crédits par forfait</th>
                <th>Prix par forfait</th>
                <th>Date d'achat</th>
            </tr>
            @foreach(CreditPurchaseDetails purchase in Model) {
    <tr>
        <td>@purchase.MemberLastName</td>
        <td>@purchase.MemberFirstName</td>
        <td>@purchase.BundleName</td>
        <td>@purchase.Quantity</td>
        <td>@purchase.BundleCreditNumber</td>
        <td>@purchase.BundlePrice €</td>
        <td>@purchase.PurchaseDate</td>
    </tr>
            }

        </table>
    </div>
</div>
@*<div class="row mt-3">
    <div class="col" style="text-align: right;">
        <a asp-controller="Storage"
           asp-action="Update" class="btn btn-outline-warning me-2">
            <i class="fas fa-edit"></i>&nbsp;
            Modifier
        </a>

        <a asp-controller="Storage"
           asp-action="Delete" class="btn btn-outline-danger">
            <i class="fas fa-trash"></i>&nbsp;
            Supprimer
        </a>
    </div>

</div>*@

