﻿@using Fr.EQL.AI110.DLD_GA.Entities
@using Fr.EQL.AI110.DLD_GA.WebApp.Models
@model DonationSearchViewModel
<link href="@Href("~/css/DonationCreateView.css")" rel="StyleSheet" type="text/css" />


<div class="row">
    <div class="col-4">
        <form method="post">
                 <label class="form-label">Membre :</label>
            <select class="form-select" asp-for="MemberId" />
            <option value="0">Tous</option>
            @foreach (DonationDetails donDetail in Model.AllDonations)
            {
                <option value="@donDetail.RecipientId">@donDetail.RecipientFirstName @donDetail.RecipientLastName </option>
            }
            </select>

            <input type="submit" value="Choisir" class="btn btn-outline-dark btn-sm w-100 mt-2" />
        </form>
    </div>

      <div class="col-8">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @foreach (DonationDetails donation in Model.Donations)
        {
            <div class="col">
                <div class="card text-dark bg-light mb-3 h-100">
                    <div class="card-header">
                        @donation.ProductName
                    </div>
                    @if (@donation.Picture != null)
                    {
                        <img src="~/images/donations/@donation.Picture" class="card-img-top" alt="...">
                    }
                    else
                    {
                        <img src="~/images/default_img.jpg" class="card-img-top" alt="...">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@donation.Quantity  @donation.UnitName</h5>
                        <p class="card-text">@donation.Description</p>
                        <p class="card-text">Provenance : @donation.ProductOriginName</p>
                    </div>

                    <div class="card-footer text-muted">
                        @* @donation.DonorName <br /> *@
                        @if (donation.StorageId > 0)
                        {
                            <label>@donation.StorageLocationName :</label> @donation.StorageLocationZipCode
                                                  <span style="float:right;">@donation.StorageLocationCityName</span>
                        }
                        else
                        {
                            @donation.CzZipCode <span style="float:right;">@donation.CzCityName</span>
                        }


                    </div>
                      
                </div>
            </div>
        }
        </div>
    </div>
</div>