﻿@using Fr.EQL.AI110.DLD_GA.Entities
@using Fr.EQL.AI110.DLD_GA.WebApp.Models

@model DonationCreationViewModel

<link href="@Href("~/css/DonationCreateView.css")" rel="StyleSheet" type="text/css" />
<h3>Proposez votre don :</h3>
<form method="post">
    <div class="row">

        @* 1ere colonne *@

        <div class="col-3">
            <ul>
                @foreach (Category category in Model.Categories)
                {
                    <li>
                        <input type="radio" value="@category.Id" id="cat_@category.Id" name="category">
                        <label for="cat_@category.Id">@category.Name</label>
                        <ul>
                            @foreach (SubCategory subcat in category.SubCategories)
                            {
                                <li>
                                    <input type="radio" value="@subcat.Id" id="subcat_@subcat.Id" name="subcategory">
                                    <label for="subcat_@subcat.Id">@subcat.Name</label>
                                    <ul>
                                        @foreach (Subset subset in subcat.Subsets)
                                        {
                                            <li>
                                                <input type="radio" value="@subset.Id" id="subset_@subset.Id" name="subset">
                                                <label for="subset_@subset.Id">@subset.Name</label>
                                                <ul>
                                                    @foreach (Product product in subset.Products)
                                                    {
                                                        <li>
                                                            <input type="radio" asp-for="Don.ProductId" value="@product.Id" id="product_@product.Id">
                                                            <label for="product_@product.Id" class="product">@product.Name</label>
                                                            <ul>
                                                                @foreach (Unit unit in product.Units)
                                                                {
                                                                    <li>
                                                                        <input type="radio" asp-for="Don.UnitId" value="@unit.Id" id="@($"product_{product.Id}_unit_{unit.Id}")">
                                                                        <label for="@($"product_{product.Id}_unit_{unit.Id}")" class=unit>@unit.Name</label>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>

        </div>

        @* 2eme colonne *@

        <div class="col-4">

            @* Quantité *@
            <div class="row g-3 mb-2 align-content-start">
                <div class="col-4">
                    <label class="form-label">

                        Quantité :
                    </label>
                </div>
                <div class="col-8"><input class="form-control" asp-for="Don.Quantity" />  </div>

            </div>

            @* DLC *@
            <div class="row g-3 mb-2 align-content-start">
                <div class="col-4">
                    <label class="form-label">
                        DLC :
                    </label>
                </div>
                <div class="col-8">
                    <input class="form-control" asp-for="Don.ExpirationDate" type="date" value="@DateTime.Today" />
                </div>

            </div>

            @* Origine  *@
            <div class="row g-3 mb-2 align-content-start">
                <div class="col-4">
                    <label class="form-label">
                        Origine :
                    </label>
                </div>
                <div class="col-8">
                    <select class="form-select" asp-for="Don.ProductOriginId" />
                    @foreach (ProductOrigin origin in Model.Origins)
                    {
                        <option value="@origin.Id">@origin.Origin</option>
                    }
                    </select>
                </div>
            </div>
        </div>

        @* 3eme colonne *@
        <div class="col-4">

            @* Donateur *@
            <div class="row g-3 mb-2 align-content-start">

                <div class="col-4">
                    <label class="form-label"> Donateur :</label>
                </div>
                <div class="col-8">
                    <select class="form-select" asp-for="Don.DonorId" />

                    @foreach (Member member in Model.Members)
                    {
                        <option value="@member.Id">@member.FirstName @member.LastName</option>
                    }
                    </select>
                </div>
            </div>

            @* Description *@
            <div class="row g-3 mb-2 align-content-start">
                <div class="col-4">
                    <label class="form-label">

                        Description :
                    </label>
                </div>
                <div class="col-8">
                    <textarea class="form-control" asp-for="Don.Description"></textarea>
                </div>

            </div>

            @* Submit *@
        <div class="row g-3 mb-2 align-content-end">
            <div class="col-8">&nbsp;</div>

            <div class="col-4">
                <input type="submit" value="Enregistrer" class="btn btn-outline-dark" style="float:right;" />
            </div>
        </div>

        </div>


        





    </div>



    </div>
</form>