﻿@using Fr.EQL.AI110.DLD_GA.Entities;
@using Fr.EQL.AI110.DLD_GA.WebApp.Models;
@model DonationOpeningHoursCreationViewModel

<style>
    input.hours {
        width: 10ch;
    }
</style>
<h2>
    Votre don : @Model.Don.Quantity @Model.Don.UnitName de @Model.Don.ProductName @($"({Model.Don.StreetNameNumber})")
</h2>
<br />

@if (Model.AllOpeningHours.Any())
{
    @foreach (OpeningHoursDetails opening in Model.AllOpeningHours)
    {
        <p>
            @opening.Weekday : de
            @if (opening.OpeningMinute == 0)
            {
                @($"{opening.OpeningHour}h")
            }
            else
            {
                @if (opening.OpeningMinute > 10)
                {
                    @($"{opening.OpeningHour}h{opening.OpeningMinute}")
                }
                else
                {
                    @($"{opening.OpeningHour}h0{opening.OpeningMinute}")
                }
            }
            à
            @if (opening.ClosingMinute == 0)
            {
                @($"{opening.ClosingHour}h")
            }
            else
            {
                @if (opening.ClosingMinute > 10)
                {
                    @($"{opening.ClosingHour}h{opening.ClosingMinute}")
                }
                else
                {
                    @($"{opening.ClosingHour}h0{opening.ClosingMinute}")
                }
            }


            @if (opening.BreakStartHour != 0 || opening.BreakEndHour != 0)
            {
                <span>, coupure de </span>


                @if (opening.BreakStartMinute == 0)
                {
                    @($"{opening.BreakStartHour}h")
                }
                else
                {
                    @if (opening.BreakStartMinute > 10)
                    {
                        @($"{opening.BreakStartHour}h{opening.BreakStartMinute}")
                    }
                    else
                    {
                        @($"{opening.BreakStartHour}h0{opening.BreakStartMinute}")
                    }
                }
                <span> à </span>
                @if (opening.BreakEndMinute == 0)
                {
                    @($"{opening.BreakEndHour}h")
                }
                else
                {
                    @if (opening.BreakEndMinute > 10)
                    {
                        @($"{opening.BreakEndHour}h{opening.BreakEndMinute}")
                    }
                    else
                    {
                        @($"{opening.BreakEndHour}h0{opening.BreakEndMinute}")
                    }
                }
            }
        </p>
    }

    <form method="post" enctype="multipart/form-data" action="RegisterPicture">
        <input asp-for="Don.Id" type="hidden">

        <table>
            <tr>
                <td>Photo :</td>
                <td><input asp-for="DonationPicture" type="file" /></td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <br />
                    <br />
                    <input type="submit" value="Finaliser le don" />
                </td>
            </tr>
        </table>
    </form>

}
else
{
    <p>Aucun horaire enregistré. Ajoutez au moins un horaire pour finaliser le don.</p>
}
<br />
<br />
<br />
<h3>Ajouter un nouvel horaire de récupération</h3>

<form method="post" action="LoopOpeningHours">
    <input asp-for="Don.Id" type="hidden">
    <input asp-for="ThisDayOpeningHours.DonationId" value="Don.Id" type="hidden" />

    <select asp-for=ThisDayOpeningHours.WeekdayId>
        @foreach (Weekday day in Model.Weekdays)
        {
            <option value=@day.Id>@day.Name</option>
        }
    </select>

    <br />
    <br />
    <label asp-for="ThisDayOpeningHours.OpeningHour"> Heure d'ouverture :</label>
    <input asp-for="ThisDayOpeningHours.OpeningHour" class="hours" /> h
    <input asp-for="ThisDayOpeningHours.OpeningMinute" class="hours" />
    <label asp-for="ThisDayOpeningHours.OpeningMinute"> min</label>
    <br />
    <br />
    <label asp-for="ThisDayOpeningHours.ClosingHour"> Heure de fermeture :</label>
    <input asp-for="ThisDayOpeningHours.ClosingHour" class="hours" /> h
    <input asp-for="ThisDayOpeningHours.ClosingMinute" class="hours" />
    <label asp-for="ThisDayOpeningHours.ClosingMinute"> min</label>
    <br />
    <br />
    <br />
    <h4>Coupure (optionnelle)</h4>
    <label asp-for="ThisDayOpeningHours.BreakStartHour"> Heure de début de coupure :</label>
    <input asp-for="ThisDayOpeningHours.BreakStartHour" class="hours"> h
    <input asp-for="ThisDayOpeningHours.BreakStartMinute" class="hours" />
    <label asp-for="ThisDayOpeningHours.BreakStartMinute"> min</label>
    <br />
    <br />
    <label asp-for="ThisDayOpeningHours.BreakEndHour"> Heure de fin de coupure :</label>
    <input asp-for="ThisDayOpeningHours.BreakEndHour" class="hours" /> h
    <input asp-for="ThisDayOpeningHours.BreakEndMinute" class="hours" />
    <label asp-for="ThisDayOpeningHours.BreakEndMinute"> min</label>
    <br />
    <br />
    <br />
    <input type="submit" value="Ajouter l'horaire" />
</form>
