﻿@using Fr.EQL.AI110.DLD_GA.Entities
@using Fr.EQL.AI110.DLD_GA.WebApp.Models

@model DonationPlaceSelectionViewModel

@if (Model.Don.Quantity > 0 && Model.UnitName != null && Model.ProductName != null)
{
    <h2>
        Votre don : @Model.Don.Quantity @Model.UnitName de @Model.ProductName
    </h2>
}
<br />
<form method="post" action="OpeningHours">
    <input asp-for="Don.UnitId" type="hidden">
    <input asp-for="Don.DonorId" type="hidden">
    <input asp-for="Don.ProductId" type="hidden">
    <input asp-for="Don.ProductOriginId" type="hidden">
    <input asp-for="Don.ExpirationDate" type="hidden">
    <input asp-for="Don.Quantity" type="hidden">
    <input asp-for="Don.Description" type="hidden">

    <input asp-for="Don.CityAndZipCodeId" value="@Model.Donor.CityAndZipCodeId" type="hidden">
    <input asp-for="Don.StreetNameNumber" value="@Model.Donor.StreetNameNumber" type="hidden">
    <h3>Adresse du donneur :</h3>
    <span>@Model.Donor.StreetNameNumber, @Model.Donor.City @Model.Donor.ZipCode </span>
    <br />
    <input type="submit" value="Choisir l'adresse du donneur" />
</form>
<br />
<form method="post" action="OpeningHours">
    <input asp-for="Don.UnitId" type="hidden">
    <input asp-for="Don.DonorId" type="hidden">
    <input asp-for="Don.ProductId" type="hidden">
    <input asp-for="Don.ProductOriginId" type="hidden">
    <input asp-for="Don.ExpirationDate" type="hidden">
    <input asp-for="Don.Quantity" type="hidden">
    <input asp-for="Don.Description" type="hidden">

    <h3>Choisir une autre adresse :</h3>
    <input asp-for="Don.StreetNameNumber" />
    <select asp-for="Don.CityAndZipCodeId">
        @foreach (CityAndZipCode city in Model.Cities)
        {
            <option value="@city.CityId">@city.City @city.ZipCode</option>
        }
    </select>
    <br />
    <input type="submit" value="Choisir cette adresse" />
</form>
<br />

<form method="post" enctype="multipart/form-data" action="DonationRegister">
    <input asp-for="Don.UnitId" type="hidden">
    <input asp-for="Don.DonorId" type="hidden">
    <input asp-for="Don.ProductId" type="hidden">
    <input asp-for="Don.ProductOriginId" type="hidden">
    <input asp-for="Don.ExpirationDate" type="hidden">
    <input asp-for="Don.Quantity" type="hidden">
    <input asp-for="Don.Description" type="hidden">

    <h3>Choisir un emplacement partenaire :</h3>
    <select asp-for=Don.StorageId>
        @foreach (StorageDetails storage in Model.AvailableStoragesForProduct)
        {
            <option value="@storage.StorId">
                @storage.StorageLocationName, @storage.StreetNameNumber @storage.City @storage.ZipCode,
                @storage.Name @($"({storage.Dimensions})") @*, accès @storage.Accessibility *@
            </option>
        }
    </select>
    <table>
        <tr>
            <td>Photo :</td>
            <td><input asp-for="DonationPicture" type="file" /></td>
        </tr>
    </table>
    <br />
    <input type="submit" value="Choisir cet emplacement" />
</form>