﻿@using Fr.EQL.AI110.DLD_GA.Entities
@using Fr.EQL.AI110.DLD_GA.WebApp.Models
@model DonationDetails

@{
    List<Member> members = ViewBag.ListMembers;
}

<h1>Détails du Produit</h1>



<div class="row">
    <div class="col-8">
        <div class="card text-dark bg-light mb-3 h-100">
            <div class="card-header">
                @Model.ProductName
            </div>
            @if (@Model.Picture != null)
            {
                <img src="~/images/donations/@Model.Picture" class="card-img-top" alt="...">
            }
            else
            {
                <img src="~/images/default_img.jpg" class="card-img-top" alt="...">
            }

            <div class="card-body">
                <h5 class="card-title">@Model.Quantity  @Model.UnitName</h5>
                <p class="card-text">@Model.Description</p>
                <p class="card-text">Provenance : @Model.ProductOriginName</p>
            </div>
            <div class="card-footer text-muted">



                @if (Model.StorageId > 0)
                {
                    <label>@Model.StorageLocationName : </label> @Model.StorageLocationZipCode

                    <span style="float:right;">@Model.StorageLocationCityName</span>
                }
                else
                {
                    @Model.CzZipCode <span style="float:right;">@Model.CzCityName</span>

                }


            </div>
        </div>
    </div>
    <div class="col-4">
         <label class="form-label">Reserver le produit</label>
        <form method="post" action="Reservation">
              <label class="form-label">Choix du Bénéficiaire :</label>
            <select class="form-select" asp-for="RecipientId">
                <option value="0">Choisir</option>
                @foreach (Member member in members)
                {
                    if (@member.Id != @Model.DonorId)
                    {
                        <option value="@member.Id">@member.FirstName @member.LastName</option>
                    }
                }
            </select>
            
                <input type="hidden" asp-for="Id" />
            <input type="submit" value="Réserver" />
          @*  <a asp-controller="Donation"
               asp-action="Reservation"
               asp-route-id="@Model.Id" class="btn btn-outline-dark mt-2">Reserver</a>*@
        </form>
        <br />
        <label class="form-label">Annuler la proposition de Don</label>
         <a asp-controller="Donation"
               asp-action="Cancellation"
               asp-route-id="@Model.Id" class="btn btn-outline-dark btn-sm w-100" style="float:right;">Annuler</a>
        
    </div>
</div>
