﻿@using Fr.EQL.AI110.DLD_GA.Entities
@using Fr.EQL.AI110.DLD_GA.WebApp.Models
@model DonationSearchViewModel
<link href="@Href("~/css/DonationCreateView.css")" rel="StyleSheet" type="text/css" />


<div class="row">
    <div class="col-4">
        <form method="post">
            <div class="mb-3">
                <label class="form-label">
                    Provenance :
                </label>
                <select class="form-select" asp-for="ProductOriginId">
                    <option value="0">Tous</option>
                    @foreach (ProductOrigin origin in Model.Origins)
                    {
                        <option value="@origin.Id">@origin.Origin</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    Ville et Code postale :
                </label>
                <select class="form-select" asp-for="City" />
                <option value="0">Tous</option>
                @foreach (CityAndZipCode cityAndZipCode in Model.Cities)
                {
                    <option value="@cityAndZipCode.CityId">@cityAndZipCode.City @cityAndZipCode.ZipCode</option>
                }
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    Produit :
                </label>
                <ul>
                    <li>
                        <input type="radio" id="clearProduct" name="ProductId" value="0" /><label for="clearProduct">Tous les produits</label>
                    </li>

                    @foreach (Category category in Model.Categories)
                    {
                        <li>
                            <input type="radio" value="@category.Id" id="cat_@category.Id" name="category">
                            <label for="cat_@category.Id">@category.Name</label>
                            <ul>
                                @foreach (SubCategory subcat in category.SubCategories)
                                {
                                    <li>
                                        <input type="radio" value="@subcat.Id" id="subcat_@subcat.Id" name="subcategory">
                                        <label for="subcat_@subcat.Id">@subcat.Name</label>
                                        <ul>
                                            @foreach (Subset subset in subcat.Subsets)
                                            {
                                                <li>
                                                    <input type="radio" value="@subset.Id" id="subset_@subset.Id" name="subset">
                                                    <label for="subset_@subset.Id">@subset.Name</label>
                                                    <ul>
                                                        @foreach (Product product in subset.Products)
                                                        {
                                                            <li>
                                                                <input type="radio" asp-for="ProductId" value="@product.Id" id="product_@product.Id">
                                                                <label for="product_@product.Id" class="product">@product.Name</label>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
            <div>
                <input type="submit" value="Filtrer" class="btn btn-outline-dark btn-sm w-100" style="float:right;" />
            </div>
        </form>
    </div>
    <div class="col-8">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (DonationDetails donation in Model.Donations)
            {
                <div class="col">
                    <div class="card text-dark bg-light mb-3 h-100">
                        <div class="card-header">
                            @donation.ProductName

                        </div>
                        @if (@donation.Picture != null)
                        {
                            <img src="~/images/donations/@donation.Picture" class="card-img-top" alt="...">
                        }
                        else
                        {
                            <img src="~/images/default_img.jpg" class="card-img-top" alt="...">
                        }
                        <div class="card-body">
                            <h5 class="card-title">@donation.Quantity  @donation.UnitName</h5>
                            <p class="card-text">@donation.Description</p>

                            <p class="card-text">Provenance : @donation.ProductOriginName</p>
                        </div>

                        <div class="card-footer text-muted">
                            @if (donation.StorageId > 0)
                            {
                                <label>@donation.StorageLocationName :</label> @donation.StorageLocationZipCode
                                <span style="float:right;">@donation.StorageLocationCityName</span>
                            }
                            else
                            {
                                @donation.CzZipCode <span style="float:right;">@donation.CzCityName</span>
                            }

                        </div>
                        <div class="card-footer">
                           <a asp-controller="Donation" 
                            asp-action="Reservation"
                            asp-route-id="@donation.Id" class="btn btn-outline-dark w-100 ">Détails</a>

                        </div>
    
                    </div>
                </div>
            }
        </div>
    </div>
</div>