﻿body {
    
}

input[type="radio"] ~ ul {
    display: none;
}

input[type="radio"]:checked ~ ul {
    display:block;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] ~ label {
    color: dimgrey;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
}

input[type="radio"]:checked ~ label {
    color: white;
    background-color: darkslategrey;
    border-radius: 5px;
}

    input[type="radio"]:checked ~ label.product {
        border: burlywood solid 2px;
        color: burlywood;
    }

    input[type="radio"]:checked ~ label.unit {
        border: rosybrown solid 2px;
        color: rosybrown;
    }

form ul {
    border-left: solid grey 3px;
    border-radius: 10px;
    list-style: none;
    padding-left: 1rem;
    margin: 0.5em 0 1rem 1rem;
}


table {
    border: none;
    color: white;
}



