﻿@*
    ###### Storage ########
*@
<!DOCTYPE html>
<html>
@using Fr.EQL.AI110.DLD_GA.Entities;
@using Fr.EQL.AI110.DLD_GA.WebApp.Models;

@model StorageViewModel

@{
    List<PreservationMethod> methods = ViewBag.ListeMethods;
    List<StorageDimensions> dimensions = ViewBag.ListeDimensions;
    List<StorageLocation> locations = ViewBag.ListeLocations;
    List<StorageAccessibility> acces = ViewBag.ListeAccessibilities;
    List<Storage> storages = ViewBag.ListeStorages;
    Storage st = new Storage();

}
<link href="@Href("~/css/DonationCreateView.css")" rel="StyleSheet" type="text/css" />

<h3 class="mb-3">Supprimer un emplacement de stockage</h3>

<form method="post">
    <ul>
        <li class="nav-item row  mt-3">
            <div class="col-3">
                <label class="form-label" asp-for="StorId"> Nom d'un emplacement':</label>
            </div>
            <div class="col-4">
                <select class="form-select" asp-for="StorId">
                    <option value="0">...</option>
                    @foreach (Storage st in storages)
                    {
                        <option value="@st.StorId">@st.Name</option>
                    }
                </select>
            </div>
        </li>
        <br />
        <div class="row">
            <div class="col-7">
                <input type="submit" value="Supprimer" class="btn btn-outline-dark mt-3 " style="float:right;" />
            </div>
        </div>


    </ul>
</form>

</html>