﻿@*###### Storage ########*@
<!DOCTYPE html>
<html>
@using Fr.EQL.AI110.DLD_GA.Entities;
@using Fr.EQL.AI110.DLD_GA.WebApp.Models;
@model StorageViewModel
<div class="row">
    <div class="col-4">  <h4>Liste des emplacements stockages :</h4> </div>
    <div class="col-8 align-content-end" style="text-align: right;">
        <a asp-controller="Storage"
           asp-action="Create" class="btn btn-outline-success">
            <i class="fas fa-plus"></i>&nbsp;Nouveau
        </a>
    </div>

</div>
<div class="row mt-3">
    <div class="col">
        <table center class="table table-striped">
            <tr>
                <th>Nom</th>
                <th>Lieu de stockage</th>
                <th>Méthode de conservation</th>
                <th>Taille d'un emplacement</th>
                <th>Accessibilité</th>
            </tr>
            @foreach (StorageDetails st in Model.Details)
            {
                <tr>
                    <td>@st.Name</td>
                    <td>@st.LocationName </td>
                    <td>@st.MethodName</td>
                    <td>@st.DimensionName</td>
                    <td>@st.AccesName</td>
                </tr>
            }


        </table>
    </div>
</div>
<div class="row mt-3">
    <div class="col" style="text-align: right;">
        <a asp-controller="Storage"
           asp-action="Update" class="btn btn-outline-warning me-2">
            <i class="fas fa-edit"></i>&nbsp;
            Modifier
        </a>

        <a asp-controller="Storage"
           asp-action="Delete" class="btn btn-outline-danger">
            <i class="fas fa-trash"></i>&nbsp;
            Supprimer
        </a>
    </div>

</div>


</html>
