﻿@*###### Storage ########*@

<!DOCTYPE html>
<html>
@using Fr.EQL.AI110.DLD_GA.Entities;
@using Fr.EQL.AI110.DLD_GA.WebApp.Models;
@model List<Fr.EQL.AI110.DLD_GA.Entities.Storage>

  <h4>Liste des emplacements stockages :</h4>
  <table center class="table">
      <tr>
          <th>Nom</th>
          <th>Lieu de stockage</th>
          <th>Méthode de conservation</th>
          <th>Taille d'un emplacement</th>
          <th>Accessibilité</th>
      </tr>
      <h5>
          <a href="/Storage/Create">
          <button>Nouveau</button>
          </a>
      </h5>
  @foreach(Storage st in Model)
    {
        <tr>
            <td>@st.Name</td>
            <td>@st.StorLocationId </td>
            <td>@st.PreservationMethId</td>
            <td>@st.StorageDimensionsId</td>
            <td>@st.StorageAccessibilityId</td>            
        </tr>
    }
        <td>
        <a asp-controller="Storage"
                       asp-action="Update">
        Modifier
        </a>
    </td>
    <td>
        <a asp-controller="Storage"
                       asp-action="Delete">
        Supprimer
        </a>
    </td>
  </table>

</html>

