﻿@*
    ##### Storage ######
*@
<!DOCTYPE html>
<html>
@using Fr.EQL.AI110.DLD_GA.Entities;
@using Fr.EQL.AI110.DLD_GA.WebApp.Models;

@model Storage

@{
    List<PreservationMethod> methods = ViewBag.ListeMethods;
    List<StorageDimensions> dimensions = ViewBag.ListeDimensions;
    List<StorageLocation> locations = ViewBag.ListeLocations;
    List<StorageAccessibility> acces = ViewBag.ListeAccessibilities;
    List<Storage> storages = ViewBag.ListeStorages;
    Storage storage = new Storage();
}
<link href="@Href("~/css/DonationCreateView.css")" rel="StyleSheet" type="text/css" />


<h3 class="mb-3">Modifier un emplacement de stockage</h3>

<form method="post">
    <ul>
        <li class="nav-item row  mt-3">
            <div class="col-3">
                <label class="form-label" asp-for="StorId"> Nom Actuel :</label>
            </div>
            <div class="col-4">
                <select class="form-select" asp-for="StorId">
                    <option value="0">...</option>
                    @foreach (Storage st in storages)
                    {
                        <option value="@st.StorId">@st.Name</option>
                    }
                </select>
            </div>
        </li>
        <br />
        <li class="nav-item row  ">
            <div class="col-3">
                <label class="form-label" asp-for="StorLocationId"> Lieu du stockage :</label>
            </div>
            <div class="col-4">
                <select class="form-select" asp-for="StorLocationId">
                    <option value="0">...</option>
                    @foreach (StorageLocation sl in locations)
                    {
                        <option value="@sl.StorLocationId">@sl.Name</option>
                    }
                </select>
            </div>
        </li>
        <br />
        <li class="nav-item row">
            <div class="col-3">
                <label class="form-label" asp-for="PreservationMethId"> Méthode de conservation :</label>
            </div>
            <div class="col-4">
                <select class="form-select" asp-for="PreservationMethId">
                    <option value="0">...</option>
                    @foreach (PreservationMethod pm in methods)
                    {
                        <option value="@pm.Id">@pm.Method</option>
                    }
                </select>
            </div>
        </li>
        <br />
        <li class="nav-item row">
            <div class="col-3">
                <label class="form-label" asp-for="StorageDimensionsId"> Taille d'un emplacement :</label>
            </div>
            <div class="col-4">
                <select class="form-select" asp-for="StorageDimensionsId">
                    <option value="0">...</option>
                    @foreach (StorageDimensions sd in dimensions)
                    {
                        <option value="@sd.Id">@sd.CategorySize</option>
                    }
                </select>
            </div>
        </li>
        <br />
        <li class="nav-item row">
            <div class="col-3">
                <label class="form-label" asp-for="StorageAccessibilityId"> Accessibilité:</label>
            </div>
            <div class="col-4">
                <select class="form-select" asp-for="StorageAccessibilityId">
                    <option value="0">...</option>
                    @foreach (StorageAccessibility sa in acces)
                    {
                        <option value="@sa.Id">@sa.Accessibility</option>
                    }
                </select>
            </div>
        </li>
        <br />
        <li class="nav-item row">
            <div class="col-3">
                <label class="form-label" asp-for="Name"> Nom Emplacement: </label>
            </div><div class="col-4">
                <input class="form-control" asp-for="Name" />
            </div>
        </li>

        <div class="row">
            <div class="col-7">
                <input type="submit" value="Modifier" class="btn btn-outline-dark mt-3 " style="float:right;" />
            </div>
        </div>
    </ul>
</form>

</html>